<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
        <center>
            <h1>Python Assignment API Testing</h1>
            <h2><strong>Question 1.</strong></h2>
        <div class="w3-container">
            <a href="/question1/testing_production_count/" class="w3-button w3-black">Test</a>
        </div>
            <h3><strong>Question 2.</strong></h3>
        <div class="w3-container">
            <a href="/question2/runtime_downtime/" class="w3-button w3-black">Test</a>
        </div>
            <h4><strong>Question 3.</strong></h4>
        <div class="w3-container">
            <a href="/question3/average_value" class="w3-button w3-black">Test</a>
        </div>
        </center>
</body>
</html>